<html>
  <body>
    <div class="container">
      <div class="row">
        <div class="mx-auto" style="width: 800;">
          <h3>Agrin</h3>
          <p>Agrinは、さまざまなサイズやデザインの用品を取り扱っております。</p>
        </div>
      </div>
    </div>
  </body>
</html>